In [3]:
 
animals = ['bear', 'python', 'peacock', 'kangaroo', 'whale', 'platypus', 'end']
cardinals = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh']
   
for i in range(1,7):
    if i<7:
        for animal in animals:
            if animal == 'end':
                break
            else:
                print("the animal at %d is %s" %(i,animal))
                i=i+1
        break

the animal at 1 is bear
the animal at 2 is python
the animal at 3 is peacock
the animal at 4 is kangaroo
the animal at 5 is whale
the animal at 6 is platypus

In [4]:
 
animals = ['bear', 'python', 'peacock', 'kangaroo', 'whale', 'platypus', 'end']
cardinals = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh']
   
for i in range(1,7):
    if i<7:
        for animal in animals:
            if animal == 'end':
                break
            else:
                print("the animal at %d is %s" %(i,animal))
                i=i+1
                for cardinal in cardinals:
                    if (animal == 'end' and cardinal == 'seventh'):
                        break
                    else:
                        print("The %s is the %s" %(animal, cardinal))
                        break
        break

the animal at 1 is bear
The bear is the first
the animal at 2 is python
The python is the first
the animal at 3 is peacock
The peacock is the first
the animal at 4 is kangaroo
The kangaroo is the first
the animal at 5 is whale
The whale is the first
the animal at 6 is platypus
The platypus is the first

In [5]:
animals = ['bear', 'python', 'peacock', 'kangaroo', 'whale', 'platypus', 'end']
cardinals = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh']
   
for i in range(0,6):
    if i<6:
        for animal in animals:
            if animal == 'end':
                break
            else:
                print("the animal at %d is %s and its the %s" %(i,animal, cardinals[i]))
                i=i+1
        break

the animal at 0 is bear and its the first
the animal at 1 is python and its the second
the animal at 2 is peacock and its the third
the animal at 3 is kangaroo and its the fourth
the animal at 4 is whale and its the fifth
the animal at 5 is platypus and its the sixth

In [28]:
animals = ['bear', 'python', 'peacock', 'kangaroo', 'whale', 'platypus', 'end']
cardinals = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh']
   
for i in range(1,7):
    if i<7:
        for animal in animals:
            if animal == 'end':
                break
            else:
                print("the animal at %d is %s and it's the %s animal" %(i,animal, cardinals[i-1]))
                i=i+1
        break

the animal at 1 is bear and it's the first animal
the animal at 2 is python and it's the second animal
the animal at 3 is peacock and it's the third animal
the animal at 4 is kangaroo and it's the fourth animal
the animal at 5 is whale and it's the fifth animal
the animal at 6 is platypus and it's the sixth animal